*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 50px;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
   
}
.col{
    width: 33%;
}
.cont{
    background-color:navajowhite;
    padding: 20px;
    margin: 20px 15px;
    border-radius: 20px;
    border:5px solid silver; 
}
.fa-box{
    font-size: 40px;
    position: relative;
    }


.fa-heart{
    font-size: 40px;
    position: relative;
}

.cont .line{
    width: 45px;
    height: 45px;
    background-color:whitesmoke ;
    border-radius: 40px;
    position: absolute;
}
.cont:hover .line{
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 40px;
    position: absolute
}
.cont .inline{
    content: "";
    width: 180px;
    height: 3px;
    background-color:whitesmoke;
    position: absolute;
    top: 160px;
}
.cont:hover .inline{
    content: "";
    width: 180px;
    height: 3px;
    background-color:gray;
    position: absolute;
    top: 160px;
}
.cont .inlines{
    content: "";
    width: 180px;
    height: 3px;
    background-color:whitesmoke;
    position: absolute;
    top: 405px;
}
.cont:hover .inlines{
    content: "";
    width: 180px;
    height: 3px;
    background-color:gray;
    position: absolute;
    top: 405px;
}



